<div data-sub-id="<%= subscription.id %>" class="subs-row clearfix <% if subscription.email.blank? %>no-email<% else %>email<% end %>">
  <ul>
    <li class="sub-number"><%= subscription.id %></li>
    <li class="name"><span class="first"><%= subscription.first_name %></span> <span class="last"><%= subscription.last_name %></span></li>
    <li class="email"><%= dash_if_empty subscription.email %></li>
    <li class="product"><%= get_product_name subscription.product %></li>
    <li class="amount"><%= dash_if_empty money subscription.amount %></li>
    <li class="cc_number"><% unless subscription.cc_number == "Shopify Order" %>-<% end %><%= subscription.cc_number %></li>
    <li class="sub-date"><%= subscription.created_at&.in_time_zone("Eastern Time (US & Canada)")&.strftime('%-m/%-d/%y, %l:%M%P') %></li>
    <li class="edit-delete">
      <a href="" class="button-edit" title="Edit">
        <%= image_tag("edit.png") %>
      </a>
      <a href="" class="button-edit-save" title="Save" style="display:none;">
        <%= image_tag("save.png") %>
      </a>
      <a href="" class="button-delete" title="Delete">
        <%= image_tag("delete.png") %>
      </a>
    </li><!-- .edit-delete -->
  </ul>
  <% if subscription.fail_count and subscription.fail_count > 0 %>
    <div class="errors-row clearfix">
      <div class="errors-bar align-left<% if subscription.fail_message %> has-error-message<% end %>">
        <div class="errors-title">Failed <%= subscription.fail_count %> times.</div>
        <div class="errors-list"><%= subscription.fail_message %></div>
      </div>
    </div>
  <% end %>
</div><!-- .subs-row -->