<div class="page-content">
  <div class="container page-title-container clearfix">
    <div class="page-title align-left">Log</div>
    <div class="log-filter align-right">
      <div class="log-filter-label align-left">Filter by date range</div>
      <div class="log-filter-form align-left">
        <input class="log-filter-date-start" type="date" /> - 
        <input class="log-filter-date-end" type="date" />
        <button class="align-right">Filter</button>
      </div><!-- .log-filter-form -->
    </div><!-- .log-filter -->
  </div><!-- .container -->
  <hr style="margin-top: 0;"/>
  <div class="container">
    <div class="log-container clearfix">

      <% current_date = @events.first.created_at.strftime('%-m/%-d/%y') %>
      <div class="log-date section-title-small" data-date="<%= @events.first.created_at.strftime('%Y%m%d') %>"><%= current_date %></div>

      <% for event in @events %>

        <% new_date = event.created_at.strftime('%-m/%-d/%y') %>
        <% unless new_date == current_date %>
          <div class="log-date section-title-small" data-date="<%= event.created_at.strftime('%Y%m%d') %>"><%= new_date %></div>
          <% current_date = new_date %>
        <% end %>

        <div class="log-row clearfix" data-date="<%= event.created_at.strftime('%Y%m%d') %>">
          <div class="log-time align-left"><%= event.created_at.in_time_zone("Eastern Time (US & Canada)").strftime('%-I:%M:%S%P') %> EST</div>
          <div class="log-details align-right">
            <div class="log-label align-left clearfix">
              <div class="log-label-text align-left"><%= event.name %></div>
              <% if event.user %>
                <div class="log-user align-right"><%= event.user.first_name %> <%= event.user.last_name %></div>
              <% end %>
            </div><!-- .log-label -->

            <% successful_lines = event.event_lines.select{|e| e[:successful]} %>
            <% failed_lines = event.event_lines.select{|e| !e[:successful]} %>

            <div class="log-description align-left">
              <div class="log-description-text align-left">
                <% if event.event_type == 'cancel' %>
                  <%= event.event_lines.first[:text] %>
                <% elsif event.event_type == 'update' %>
                  <%= event.event_lines.first[:text] %>
                <% elsif event.event_type == 'retry_transaction' %>
                  <%= event.event_lines.first[:text] %>
                <% elsif event.event_type == 'failed' %>
                  <%= event.event_lines.first[:text] %>
                <% else %>
                <%= event.event_lines.count %> total: <span class="log-fail"><%= failed_lines.count %> failed</span> / <span class="log-success"><%= successful_lines.count %> successful</span>
                <% end %>
              </div><!-- .log-description-text -->
              <% unless event.name.downcase.include? 'cancel' or event.event_type == 'failed' or event.event_type == 'retry_transaction' %>
                <button class="details align-right">Show Details</button>
              <% end %>
            </div><!-- .log-description -->
            <div class="log-accordion-details align-left" style="display: none;">
              <% if event.event_type == 'update' %>
                <ul>
                  <% for line in event.event_lines.drop(1) %>
                    <li><%= line[:text] %></li>
                  <% end %>
                </ul>
              <% else %>
                <% if failed_lines.count > 0 %>
                  <div class="log-accordion-title-failed">Failed: <%= failed_lines.count %> of <%= event.event_lines.count %></div>
                  <ul>
                    <% for line in failed_lines %>
                      <li><%= line[:text] %></li>
                    <% end %>
                  </ul>
                <% end %>
                <% if successful_lines.count > 0 %>
                  <div class="log-accordion-title-success">Successful: <%= successful_lines.count %> of <%= event.event_lines.count %></div>
                  <ul>
                    <% for line in successful_lines %>
                      <li><%= line[:text] %></li>
                    <% end %>
                  </ul>
                <% end %>
              <% end %>
            </div><!-- .log-accordion-details -->
          </div><!-- .log-details -->
        </div><!-- .log-row -->

      <% end %>
    </div><!-- .log-container -->

  </div><!-- .container -->
</div><!-- .page-content -->