<!DOCTYPE html>
<html>
  <head>
    <title>CleanChoiceEnergySubscriptionApp</title>
    <%= csrf_meta_tags %>

    <script src="https://js.stripe.com/v3/"></script>
    
    <%= favicon_link_tag 'favicon.png' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%= body_class %>" data-stripe-publishable-key="<%= CURRENT_STRIPE_PUBLISHABLE_KEY %>">
    <% if user_signed_in? %>
      <%= render partial: '/partials/header' %>
    <% end %>

    <!-- <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p> -->

    <%= yield %>

    <% if current_user.present? %>
    <script>
    window.onbeforeunload = closingCode;
    function closingCode() {
      console.log('VVVVVVVV');
      $.ajax({
        type: "DELETE",
        url: '/users/sign_out'
      }).success(function(test) {
        console.log(test);
      }).error(function(error) {
        console.log(error);
      });
    }
    </script>
    <% end %>
  </body>
</html>
